<% include ../partials/header %>
<div class="mdl-layout--fixed-header mdl-layout mdl-js-layout">
  <% include ../partials/headerbar %>
  <% include ../partials/navbar %>
  <main class="mdl-layout__content dashboard-body">
    <ul class="task-list-ul mdl-list" id="task-list">
        <div class="settings">
            <h4>Your Completed Tasks</h4>
            <button id="task-list-menu" class="mdl-button mdl-js-button" style="height: 64px;">
                <i class="material-icons" style="font-size: 64px;">delete</i>
            </button>
        </div>
        <% if(completedTasks.length !== 0) { %>
            <% for(let i = 0; i < completedTasks.length; i++) { %>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content" id="tooltip-<%=completedTasks[i].id%>">
                <i class="material-icons  mdl-list__item-avatar">person</i>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="displayTaskDescription(event)" id="task-list-<%=completedTasks[i].id%>">
                <%= completedTasks[i].title %>
                </button>
                </span>
                <span class="mdl-list__item-secondary-action">
                <label class="mdl-checkbox mdl-js-checkbox" for="task-id-<%=completedTasks[i].id%>">
                    <input type="checkbox" id="task-id-<%=completedTasks[i].id%>" class="mdl-checkbox__input" onchange="taskChecked(event)">
                </label>
                </span>
            </li>
            <!-- Dialog -->
            <% include ../partials/misc/completedTaskDialog.ejs %>
            <% } %>
        <% } %>
        </ul>
  </main>
</div>
<script src="/scripts/tasks.js"></script>
<% include ../partials/footer %>