<% include ../partials/header %>
<div class="mdl-layout--fixed-header mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header" style="background-color: #FF88DC;">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Welcome <%= firstName %> <%= lastName %>!</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <span>
      <form action="/search" method="POST">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="sample6">
            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
          </div>
        </div>
        </form>
    </span>
      <!-- Navigation -->
    </div>
  </header>
  <% include ../partials/navbar %>
  <main class="mdl-layout__content dashboard-body">
    <!-- Render Status Update Here -->
    <div class="top-bar">
      <% if(lastStatus) { %> 
        <div class="status-date">
          <span id="statusUpdateDate"><%= lastStatus.createdAt.toLocaleDateString() %></span>
          <span id="statusUpdateTime"><%= lastStatus.createdAt.toLocaleTimeString() %></span>
        </div>
        <div id="statusUpdateContent">
          <span style="color: lightgreen;">Last Update</span>
          <span id="statusContent" style="color: white;"><%= lastStatus.statusContent %></span>
        </div>
      <% } %>
    </div>
    <!-- This is for Snackbar; Displays when User Updates status -->
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <!-- Render task card partial dynamically here -->
    <div class="recent-tasks" id="recent-tasks-body">
      <% if(recentTasks) { %>
        <% recentTasks.forEach(task => { %>
          <% include ../partials/taskcard %>
        <% }) %>
      <% } %>
    </div>
    <div class="status-widget">
      <!-- This is where the Status Update Box Goes -->
      <% include ../partials/dashboard/statusUpdateWidget %>
      <% include ../partials/dashboard/newTaskWidget %>
    </div>
   
  </main>
  <% include ../partials/misc/dialog %> 
</div>
<% include ../partials/footer %>
