<% include ../partials/header %>
<div class="mdl-layout--fixed-header mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header mdl-color--blue">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Welcome</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <span>
        <form action="/search" method="POST">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="sample6">
              <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
          </div>
        </form>
      </span>
      <!-- Navigation -->
    </div>
  </header>
  <% include ../partials/navbar %>
  <main class="mdl-layout__content dashboard-body" id="main-body">
    
    <ul class="task-list-ul mdl-list" id="task-list">
      <div class="settings">
        <h4>Your Tasks</h4>
        <button id="task-list-menu" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">settings_applications</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
        for="task-list-menu">
          <li class="mdl-menu__item" onclick="displayTaskModal()">New</li> 
          <li class="mdl-menu__item"><a href="/user/task/completed">View Completed</a></li>
          <li class="mdl-menu__item" onclick="completeSelectedTasks()">Complete</li>
          <li class="mdl-menu__item" onclick="deleteSelectedTasks()">Delete</li>
        </ul>
      </div>
      <% if(userTasks.length !== 0) { %>
        <% for(let i = 0; i < userTasks.length; i++) { %>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content" id="tooltip-<%=userTasks[i].id%>">
              <i class="material-icons  mdl-list__item-avatar">person</i>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="displayTaskDescription(event)" id="task-list-<%=userTasks[i].id%>">
              <%= userTasks[i].title %>
              </button>
            </span>
            <span class="mdl-list__item-secondary-action">
              <label class="mdl-checkbox mdl-js-checkbox" for="task-id-<%=userTasks[i].id%>">
                <input type="checkbox" id="task-id-<%=userTasks[i].id%>" class="mdl-checkbox__input" onchange="taskChecked(event)">
              </label>
            </span>
          </li>
          <!-- Dialog -->
          <dialog class="my-dialog mdl-dialog" id="dialog-<%=userTasks[i].id %>">
            <h4 class="mdl-dialog__title"><%= userTasks[i].title %></h4>
            <div class="mdl-dialog__content">
              <p>
                <%= userTasks[i].description %>
              </p>
            </div>
            <div class="mdl-dialog__actions">
              <button type="button" class="mdl-button" onclick="closeTaskDescription(event)" id="dialog-button-<%=userTasks[i].id%>">Close</button>
            </div>
          </dialog>          
        <% } %>
      <% } %>
    </ul>
  </main>
</div>
<% include ../partials/misc/dialog %>
<script src="/scripts/tasks.js"></script>
<% include ../partials/footer %>